



/* sections */

.section{
	
	
	  padding: 8rem 0 7rem;
	  
	  text-align: center;
	
	
	
}


nextbox { padding: 0.5em; position: absolute; bottom: 0.5em;  	right: 3em; font-size: 0.75em; font-weight: bold; }
